*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #263238;
}

#wrapper{
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
}

header{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2px;
    color: #23B123;
    text-decoration: underline;
    cursor: pointer;
}

header a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

header i{
    color: #ffffff;
    cursor: pointer;
}

section{
    height: 100%;
    width: 1200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 50px;
}

.box{
    border-radius: 16px;
    background-color: rgba(242, 248, 247, 0.1);
    padding: 35px;
    transition: transform 0.4s ease;
}

.box:hover{
    transform: scale(1.05);
}

.category{
    font-size: 16px;
    font-weight: 800;
    color: #23B123;
    margin-bottom: 3px;
}

.blog-head{
    font-size: 32px;
    font-weight: 700;
    color: white;
    line-height: 30px;
    letter-spacing: 1px;
}

.date{
    color: #FE3B48;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 15px;
}

.desc{
    color: white;
    font-size: medium;
    line-height: normal;
    letter-spacing: 0.5;
}

.cont{
    margin-top: 15px;
}

.cont a{
    color: #23B123;
}

.container{
    margin-bottom: 300px;
    
}

.box1 .category{
    color: #FFB74D ;
}
.box2 .category{
    color: #9C27B0         ;
}
.box3 .category{
    color: #00B0FF      ;
}
.box4 .category{
    color: #00FF7F     ;
}
.box5 .category{
    color: #009688   ;
}
.box6 .category{
    color: #8A2BE2   ;
}

