*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #263238;
}

#wrapper{
height: 100vh;
overflow-x: hidden;
overflow-y: auto;
}

header{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    font-size: 35px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 2px;
    color: #00B0FF;
    cursor: pointer;
}

header a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
    cursor: pointer;
}

header i{
    color: #ffffff;
    cursor: pointer;
}

section{
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 50px;
    grid-auto-rows: auto;
    margin: 50px 150px;
    gap: 40px;
}

section h2, h3{
    margin: 15px 0;
    color: #00FF7F;
} 

.post-date{
    color: #FE3B48;
    font-size: 14px;
    font-weight: 300;
    /* margin-top: 5px;
    margin-bottom: 15px; */
    margin: 15px 0;

}

.text{
    margin: 12px 0;
    color: white;
    font-size: medium;
    line-height: normal;
    letter-spacing: 0.5;
}

span{
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

hr{
    border: 0.01px solid white;
}

.borderText{
    border: 0.01px solid white;
    padding: 10px;
}

section ul, ol{
    margin-left: 50px;
    color: white;
}

.btn button{
    border-radius: 20px;
    height: 40px;
    width: 150px;
    /* padding: 10px 20px; */
    background-color: #23B123;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn button:hover{
    background-color: #FE3B48;
}

section aside .archieves{
    margin: 60px 0;
}

section aside a{
    display: block;
    color: white;
    margin-bottom: 3px;
}

.b1{
    margin-right: 20px;
}